<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventPlanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventPlanner.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar-container">

        <a asp-action="Index" asp-controller="Events" class="navbar-logo b1-text">
            Event Planner
        </a>
        @if ( User.Identity == null || !User.Identity.IsAuthenticated)
        {
            <div class="navbar-right">
                <a asp-controller="Account" asp-action="Register" class="button-m1">Sign up</a>
                <a asp-controller="Account" asp-action="Login" class="navbar-text">Login</a>
            </div>
        }
        else
        {
            <div class="navbar-right">
                <a asp-controller="Event" asp-action="Create" class="navbar-text">Create event</a>
                <div class="vertical-line"></div>
                <a asp-controller="Profile" asp-action="Index" class="button-m1">@User.Identity.Name</a>
                <a asp-controller="Account" asp-action="Logout" class="navbar-text">Logout</a>
            </div>
        }
    </div>
    <div class="main-container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>