@model EventPlanner.Models.Events.InputEventModel;

@{
    ViewData["Title"] = "Create Event";
}

<form asp-controller="Event" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-entry">
        <label asp-for="Name"></label>
        <input class="input-fullwidth" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-entry">
        <label asp-for="CategoryId"></label>
        <select class="input-fullwidth" asp-for="CategoryId" asp-items="@Model.CategoryList"></select>
        <span asp-validation-for="CategoryId"></span>
    </div>

    <div class="form-entry">
        <label asp-for="DateTime"></label>
        <input class="input-fullwidth" asp-for="DateTime" />
        <span asp-validation-for="DateTime"></span>
    </div>

    <div class="form-entry">
        <label asp-for="StreetName"></label>
        <input class="input-fullwidth" asp-for="StreetName" />
        <span asp-validation-for="StreetName"></span>
    </div>

    <div class="form-entry">
        <label asp-for="CityName"></label>
        <input class="input-fullwidth" asp-for="CityName" />
        <span asp-validation-for="CityName"></span>
    </div>

    <div class="form-entry">
        <label asp-for="CountryName"></label>
        <input class ="input-fullwidth" asp-for="CountryName" />
        <span asp-validation-for="CountryName"></span>
    </div>

    <div class="form-entry">
        <label asp-for="PostalCode"></label>
        <input class="input-fullwidth" asp-for="PostalCode" />
        <span asp-validation-for="PostalCode"></span>
    </div>

    <div class="form-entry">
        <label asp-for="BuildingNumber"></label>
        <input class="input-fullwidth" asp-for="BuildingNumber" />
        <span asp-validation-for="BuildingNumber"></span>
    </div>

    <div class="form-entry">
        <label asp-for="EventTypeId"></label>
        <select class="input-fullwidth" asp-for="EventTypeId" asp-items="@Model.EventTypesList"></select>
        <span asp-validation-for="EventTypeId"></span>
    </div>

    <div class="form-entry">
        <label asp-for="MaxNumberParticipants"></label>
        <input class="input-fullwidth" asp-for="MaxNumberParticipants" />
        <span asp-validation-for="MaxNumberParticipants"></span>
    </div>

    <div class="form-entry">
        <label asp-for="ImageUrl"></label>
        <input class="input-fullwidth" asp-for="ImageUrl" />
        <span asp-validation-for="ImageUrl"></span>
    </div>

    <div>
        <input class="button-w2" type="submit" value="Create" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}