<div class="account-navbar-container">
	<a asp-action="Index" asp-controller="Account" >Account Home</a>
	<a asp-action="Events" asp-controller="Account">Your Events</a>
	<a asp-action="Settings" asp-controller="Account">Settings</a>
</div>