@model InputLoginModel

<div>
    <div>@ViewBag.Result</div>
	<form asp-action="Login" method="post">
    <div>
        <label asp-for="UserName">Login:</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}