@model InputLoginModel

<div class="login-container">
    <div class="login-header b2-text">Login</div>
    <div>@ViewBag.Result</div>
    <form asp-action="Login" method="post" class="generic-form">
        <div class="input-fullwidth-container">
        <input class="input-fullwidth" asp-for="UserName" placeholder="Username" />
        <span asp-validation-for="UserName"></span>
    </div>

        <div class="input-fullwidth-container">
            <input class="input-fullwidth" asp-for="Password" placeholder="Password" />
        <span asp-validation-for="Password"></span>
    </div>
        <div class="submit-form">
        <input type="submit" value="Continue" class="button-w1"/>
    </div>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}