@model EventPlanner.Models.User.InputUserModel;

<div class="register-container">
    <div class="register-header b2-text">Register</div>
    <form asp-action="Register" asp-controller="Account" method="post" class="generic-form" enctype="multipart/form-data">
        <div class="input-fullwidth-container">
            <input type="file" class="input-fullwidth" asp-for="Image" placeholder="Profile picture" accept="image/*" />
            <span asp-validation-for="Image"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="FirstName" placeholder="First Name" />
                <span asp-validation-for="FirstName"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="LastName" placeholder="Last Name"/>
                <span asp-validation-for="LastName"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="UserName" placeholder="Username" />
                <span asp-validation-for="UserName"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="Email" placeholder="Email"/>
                <span asp-validation-for="Email"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="Password" name="Password" placeholder="Password" />
                <span asp-validation-for="Password"></span>
        </div>
            <div class="input-fullwidth-container">
                <input class="input-fullwidth" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm password" />
                <span asp-validation-for="ConfirmPassword"></span>
     </div>
            <div class="submit-form">
            <input type="submit" value="Submit" class="button-w1" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}