.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.events-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 15px 30px;
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 23%;
    aspect-ratio: 1/1;
}

.event-img-container {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #e6e6e6;
    border-radius: 15px;
}

.lazy {
    background-color: red;
}

.input-search-wide {
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    width: 20%;
    padding: 5px;
    min-width:250px;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
}

.input-search-narrow {
    box-sizing: border-box;
    height: 40px;
    width: 8%;
    min-width:100px;
    padding: 5px;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
}

.input-search {
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    width: 15%;
    min-width: 150px;
    padding: 5px;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
}

.events-search-bar {
    display:flex;
    width:70%;
    flex-direction: column;
}

.events-search-top {
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.events-search-bar button {
    all: unset;
}

.events-serach-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #5f2eea;
    border-radius: 50px;
    cursor:pointer;
}

.events-search-bar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}