.profile-navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
    gap: 10px;
}

.profile-general-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:90%;
    gap: 5%;
}

.profile-events-container {
    display: flex;
    flex-direction: column;
    width:100%;
}

.profile-settings-container {

}

.list-event-container {
    display: flex;
    flex-direction: column;

}

.list-event-entry-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 100%;
}

.list-event-entry {
    width:10%;
}

th {
    text-align: left;
}