@model EventPlanner.Models.Error.ErrorViewModel;

<div class="error-page-container">
<h2>Error</h2>
<p>@Model.Message</p>
@if (!string.IsNullOrEmpty(Model.Detail))
{
    <p>Details: @Model.Detail</p>
}
</div>


@section Styles {
    <link href="@Url.Content("~/css/Views/ErrorStyle.css")" rel="stylesheet" type="text/css" />
}