<div class="profile-navbar-container">
	<a asp-action="Index" asp-controller="Profile" >Account Home</a>
	<a asp-action="ManageEvents" asp-controller="Profile">Manage Events</a>
	<a asp-action="Settings" asp-controller="Profile">Settings</a>
</div>