<div class="profile-general-container">
	<partial name="_ProfileNavbar" />
	<div class="profile-settings-container">
		Settings
	</div>
</div>

@section Styles {
	<link href="@Url.Content("~/css/Views/ProfileStyle.css")" rel="stylesheet" type="text/css" />
}